<launch>

    <arg name="map" />
    
    <!-- Run the map server -->
    <node name="map_server" respawn="true" pkg="map_server" type="map_server" args="$(arg map).yaml"/>

    <!--- Run AMCL -->
    <include file="$(find meka_2dnav)/launch/amcl.launch">
        <arg name="topic_scan" value="scan_front"/>
    </include>

	<!-- Run move_base -->	
	<node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
		<param name="navfn/allow_unknown" value="true"/>
		<param name="clearing_rotation_allowed" value="false"/>
		<param name="oscillation_timeout" value="30.0"/>
		<remap to="/meka_roscontrol_base_controller/odom" from="/odom" />
		<remap to="/meka_roscontrol_base_controller/cmd_vel" from="/cmd_vel" />
        <rosparam file="$(find meka_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find meka_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find meka_2dnav)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find meka_2dnav)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find meka_2dnav)/config/base_local_planner_params.yaml" command="load" />
	</node>

</launch>

