<launch>
    <!-- Run basic config -->
    <include file="$(find meka_2dnav)/launch/meka_config.launch" />

    <arg     if="$(env NAVIGATION_USE_MAP)" name="part_map" value="map" />
    <arg unless="$(env NAVIGATION_USE_MAP)" name="part_map" value="nomap" />

    <include file="$(find meka_2dnav)/launch/meka_navigation_mob_$(arg part_map).launch">
        <arg if="$(env NAVIGATION_USE_MAP)" name="map"   value="$(env NAVIGATION_MAP)" />
    </include>

</launch>
